// layout
$max-width: 1200px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$marge: 15px;

// Typos
$font-default: 'Josefin Sans', sans-serif;
$font-title: 'KG What the Teacher Wants', $font-default;
$font-size-base: 87.5%;

// Colors
$blue:       #0c9bea;
$orange:     #f39200;
$light-gray: #9d9d9c;
$dark-gray:  #575756;
$gray:       #F0F0F0;

$link-color: $orange;